{"is_source_file": false, "format": null, "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 70, "knowledge_revision": 208, "git_revision": "", "hash": "f3ad8e94cee6a0d8d6474fb32aa5e6ea", "format-version": 4, "code-base-name": "default", "filename": "flutter_frontend_workspace/flutter_frontend/ios/Runner/Info.plist", "revision_history": [{"208": ""}]}