{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 100, "knowledge_revision": 236, "git_revision": "", "hash": "3b7ed6521aa8adcf0dc6804f7d075ff5", "format-version": 4, "code-base-name": "default", "filename": "flutter_frontend_workspace/flutter_frontend/windows/runner/Runner.rc", "revision_history": [{"236": ""}]}