{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 58, "knowledge_revision": 194, "git_revision": "", "hash": "4e300ec1fc4dad2d1e6f4535cbffc1e1", "format-version": 4, "code-base-name": "default", "filename": "flutter_frontend_workspace/flutter_frontend/ios/Flutter/Generated.xcconfig", "revision_history": [{"194": ""}]}