{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 9, "knowledge_revision": 148, "git_revision": "", "hash": "3e66abe0bc07c91c313d9616f525c614", "format-version": 4, "code-base-name": "default", "filename": "flutter_frontend_workspace/flutter_frontend/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"148": ""}]}